:root {
    --def: #111;
    --dark: #fff;
    --base: #ed0af6;
    --opp-base: #c44800;
    --pop: #d3d3d3;
    --pop-transparent: #d3d3d333;
    --accent: #333;
}

* {
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', 'Roboto', 'Arial', sans-serif;
    font-size: 1rem;
    color: var(--pop);
    text-decoration: none;
    transition: .4s cubic-bezier(0.075, 0.82, 0.165, 1);
}
html {
    scroll-behavior: smooth;
}
body {
    background-color: var(--def);
    background: radial-gradient(circle, var(--accent), var(--accent) 5%, var(--def) 5%, var(--def));
    background-size: min(10vw, 10vh) min(10vw, 10vh);    color: #d3d3d3;
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
    width: 100%;
}
.floating-nav {
    width: 100%;
    max-width: 100vw;
    position: sticky;
    top: 0;
    display: flex;
    justify-content: flex-end;
    padding: 0 10px;
    box-sizing: border-box;
    background-color: var(--def);
}
.menu-label {
    width: 50px;
    height: 50px;
    padding: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    box-sizing: border-box;
    z-index: 10;
}
.menu-label span {
    display: flex;
    width: 20px;
    height: 3px;
    background-color: var(--pop);
}
.nav-menu {
    display: none;
    flex-direction: column;
    position: absolute;
    top: 10px;
    right: 10px;
    padding: 10px;
    background-color: var(--def);
    border: 1px solid var(--pop-transparent);
    border-radius: 10px;
    transform: scaleY(0);
    transition: .3s ease-in-out;
}
#menu {
    display: none;
}
#menu:checked ~ .nav-menu{
    transform: scaleY(1);
    display: flex;
}
#menu:checked ~ .menu-label span {
    background-color: var(--def);
}
.nav-items {
    padding: 10px;
}
.btn {
    border-radius: 10px;
}
.btn:hover {
    background-color: var(--pop-transparent);
}
.nav-icon {
    display: none;
    width: 50px;
    height: 50px;
    background-color: var(--pop);
}
.sections {
    width: 80%;
    min-width: 300px;
    height: 500px;
    border: 1px solid var(--pop-transparent);
    border-radius: 10px;
    box-sizing: border-box;
}


#home1 {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: column;
    flex-wrap: wrap;
    padding: 10px;
    position: relative;
    overflow: hidden;
}
#home1 h1 {
    font-size: 2.5em;
    font-weight: 800;
}
#home1 h2 {
    font-size: 1.2em;
    font-weight: 500;
}
#home1 h2 span {
    font-weight: 600;
    font-size: 1em;
    color: var(--base);
}
.headerbtn {
    margin: 10px;
    padding: 10px 20px;
    background-color: var(--pop-transparent);
    border-radius: 20px;
    border: 3px solid var(--base);
    color: var(--base);
    box-shadow: inset 0px 0px 40px 10px var(--base), inset 0px 0px 20px 10px var(--accent), inset 0px 0px 10px 0px var(--pop);
}
#home1 h1::before {
    content: "";
    position: absolute;
    bottom: -100px;
    left: -30px;
    width: 400px;
    height: 400px;
    border-radius: 100%;
    background-color: var(--opp-base);
    z-index: -1;
}
.headerbtn:hover {
    border: 3px solid var(--dark);
    color: var(--dark);
    font-weight: 600;
    transform: scale(1.1);
}

@media only screen and (max-width: 640px) {
    
}
/*tablet*/
@media only screen and (min-width: 640px) {
    #menu, .menu-label, .navlinks {
        display: none;
    }
    .floating-nav {
        padding: 10px;
    }
    .nav-menu {
        position: relative;
        top: 0;
        right: 0;
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        width: fit-content;
        min-width: 300px;
        border: none;
    }
    .nav-items {
        width: fit-content;
        padding: 20px;
    }
    .nav-icon {
        display: flex;
    }
    .sections {
        border-radius: 20px;
    }
    #home1 {
        font-size: 1.5rem;
        justify-content: center;
        align-items: center;
    }
}
/*laptop*/
@media only screen and (min-width: 1008px) {
    * {
        font-size: 20px;
    }
    .nav-icon {
        display: none;
    }
    .navlinks {
        display: flex;
    }
    .nav-menu {
        display: flex;
        padding: 0;
        justify-content: space-between;
    }
    .floating-nav {
        border: 1px solid var(--pop-transparent);
        border-radius: 20px;
        width: 80%;
        min-width: 800px;
    }
    #home1 {
        font-size: 2rem;
        justify-content: center;
        align-items: center;
    }
    
}
