:root {
    --def: #111;
    --base: #ed0af6;
    --pop: #d3d3d3;
}

* {
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', 'Roboto', 'Arial', sans-serif;
    font-size: 1.2rem;
    text-decoration: none;
}
html {
    scroll-behavior: smooth;
}
body {
    background-color: var(--def);
    color: #d3d3d3;
    position: relative;
    display: flex;
    flex-direction: column;
    width: 100%;
}
.floating-nav {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    padding: 10px;
    background-color: #111;
    color: #333;
    border-bottom: 2px solid var(--pop);
    height: fit-content;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}
@media only screen and (max-width: 640px) {
    .nav-button {
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
        width: 50px;
        padding: 5px;
        aspect-ratio: 1;
    }
    .nav-button span {
        background-color: var(--pop);
        width: 30px;
        height: 3px;
    }
    .nav-menu {
        display: none;
    }
}

@media only screen and (min-width: 1008px) {
    .floating-nav {
        top: 10px;
        left: 10px;
        right: 10px;
        border-radius: 50px;
    }
    .nav-button {
        display: none;
    }
    .nav-menu {
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        width: 40%;
        color: var(--pop);
    }
    .nav-items {
        padding: 5px;
    }
    .navlinks {
        color: var(--pop);
    }

    .sections {
        width: 100%;
        height: 100vh; /* temp */

    }
}
