:root {
    --def: #111;
    --base: #ed0af6;
    --pop: #d3d3d3;
}

* {
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', 'Roboto', 'Arial', sans-serif;
    font-size: 1rem;
    color: var(--pop);
    text-decoration: none;
}
html {
    scroll-behavior: smooth;
}
body {
    background-color: var(--def);
    background: radial-gradient(circle, var(--pop), var(--pop) 1%, var(--def) 1%, var(--def));
    background-size: 200px 200px;
    color: #d3d3d3;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}
.floating-nav {
    width: 100%;
    max-width: 100vw;
    position: sticky;
    top: 0;
    display: flex;
    justify-content: flex-end;
    padding: 0 10px;
    box-sizing: border-box;
}
.menu-label {
    width: 50px;
    height: 50px;
    padding: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    box-sizing: border-box;
    z-index: 10;
}
.menu-label span {
    display: flex;
    width: 20px;
    height: 3px;
    background-color: var(--pop);
}
.nav-menu {
    display: none;
    flex-direction: column;
    position: absolute;
    top: 10px;
    right: 10px;
    padding: 10px;
    background-color: var(--def);
    border: 1px solid var(--pop);
    border-radius: 10px;
    transform: scaleY(0);
    transition: .3s ease-in-out;
}
#menu {
    display: none;
}
#menu:checked ~ .nav-menu{
    transform: scaleY(1);
    display: flex;
}
#menu:checked ~ .menu-label span {
    background-color: var(--def);
}
.nav-items {
    padding: 10px;
}
.nav-icon {
    display: none;
    width: 50px;
    height: 50px;
    background-color: var(--pop);
}
@media only screen and (max-width: 640px) {
    
}
/*tablet*/
@media only screen and (min-width: 640px) {
    #menu, .menu-label, .navlinks {
        display: none;
    }
    .floating-nav {
        padding: 10px;
    }
    .nav-menu {
        position: relative;
        top: 0;
        right: 0;
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        width: 40%;
        min-width: 300px;
        border: none;
    }
    .nav-items {
        width: fit-content;
        padding: 20px;
    }
    .nav-icon {
        display: flex;
    }
}
/*laptop*/
@media only screen and (min-width: 1008px) {
    * {
        font-size: 1.5rem;
    }
    .nav-icon {
        display: none;
    }
    .navlinks {
        display: flex;
    }
    .nav-menu {
        padding: 0;
        width: 40%;
        justify-content: space-between;
    }
    .floating-nav {
        border: 2px solid var(--pop);
        border-radius: 20px;
        width: 80%;
        min-width: 800px;
    }
}
